<div id="kvadrat1yellow" class="container">
    <div class="naz">Название задачи</div>
    <div class="nz">краткое описание задачи, что нужно сделать, как нужно сделать и в какие сроки...
    </div>
    <div class="n">
        <button type="button" class="Fbtn btn-warning">Завершить</button>
        <button type="button" class="btn btn-warning">Описание</button>
    </div>
</div>