<div class="cont ras">
    <h1 class="s">Kanban</h1>
        <div class="rs">
            <button type="button" class="btn btn-outline-dark">Просмотреть выполненые задачи</button>
            <button type="button" class="btn btn-outline-dark">Добавить столбец</button>
            <button type="button" class="btn btn-outline-dark">Добавить задачу</button>
        </div>
            <a href=""><img title="Вход/Регистрация"class ="prof" src="./img/1.png"></a>
</div>